
<h6 class="fw-light">
    {% if msg %}
        {{ msg | safe }}
    {% else %}
        Add your credentials
    {% endif %} 
</h6>
<form method="POST" enctype="multipart/form-data" action="register/" style="color: black;">{% csrf_token %}
  <div style="background-color: #64989d;" class="modal" id="modal1" data-animation="slideInOutLeft">
      <div class="modal-dialog" style="border-top: 1px solid; border-radius: 4px; box-shadow: 10 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
        <header style="float: right; padding-left: 40em; backgroud: no-repeat; padding-right: 5em;" class="modal-header">
          <div style="float: right;" class="close-modal" aria-label="close modal" data-close>
           <img style="padding-left: 10em; border-radius: 5em; padding-right: 6em;" src="/static/assets/images/signup-icon.jpeg" />
          </div> 
        </header>
        <section class="modal-content" style="height: 20%;">
            <div class="col-12 mt-2 mb-2">
                <div class="row g-3">
                        <div>
                          <div class="form-floating mb-3">
                            <input style="height: 20%;" type="text" name="username" class="form-control" id="floatingInput" placeholder="Bupe Muleya" required>
                            <label for="floatingInput">Username</label>
                          </div>
                          <div class="col-12 mt-2 mb-2">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating mb-3">
                                        <input style="height: 20%;" type="text" name="first_name" class="form-control" id="floatingInput" placeholder="Bupe Muleya">
                                        <label for="floatingInput">First Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating mb-3">
                                        <input style="height: 20%;" type="text" name="last_name" class="form-control" id="floatingInput" placeholder="Bupe Muleya">
                                        <label for="floatingInput">Last Name</label>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <div style="height: 30%;" class="form-floating mb-3">
                                <select name="sex" style="height: 30%;" id="sex" class="form-select mt-1" id="floatingSelect">
                                  <option value="Male" selected>Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <label for="floatingSelect">Sex</label>
                              </div>
                            </div>
                            <div class="col-sm-6">
                                <div style="max-height: 30px;" class="form-floating mb-3">
                                  <select name="gender" style="max-height: 30px;" id="gender" class="form-select mt-1" id="floatingSelect">
                                    <option value="Male" selected>Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Trangender">Transgender</option>
                                    <option value="Other">Other</option>
                                  </select>
                                  <label for="floatingSelect">Gender</label>
                                </div>
                            </div>
                            
                          </div>
                        <div style="margin-top: -10em;s">
                          <div class="col-sm-12">
                            <div class="form-floating mb-3">
                                <input style="max-height: 60px;" type="date" name="birth_date" class="form-control" id="floatingInput">
                                <label for="floatingInput">Birth Date</label>
                            </div>
                          </div>

                          <div class="col-12 mt-2 mb-2">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating mb-3">
                                        <input style="height: 20%;" type="password" name="password" class="form-control" id="floatingInput" placeholder="Bupe Muleya">
                                        <label for="floatingInput">Password</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating mb-3">
                                        <input style="height: 20%;" type="password" name="password_confirm" class="form-control" id="floatingInput" placeholder="Bupe Muleya">
                                        <label for="floatingInput">Confirm Password</label>
                                    </div>
                                </div>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-12 grid-margin stretch-card mt-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="form-group">
                                <style>
                                  .select_arbt { color: black; } .select_arbt:hover { color: blue; }
                                </style>
                                <label style="color: grey;">Select user Role</label>
                                <select style="height: 20%;" name="user_roles" class="/static/assets/js-example-basic-multiple w-100" multiple="multiple">
                                  {% for role in user_roles %}
                                    <option class="select_arbt" value="{{ role.key }}">{{ role.value }}</option>
                                  {% endfor %} 
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mt-3">
                          <button type="submit" name="register" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"  style="width: 100%;">Register</button>
                        </div>
                        
                        <div class="text-center mt-4 fw-light">
        
                          <h1>&#128151;</h1>
                          <br/>
        
                          &copy; <a target="_blank" href="http://digiprophets.com/">DigitalProphets</a>
                          <br/>
                        </div>
                      </div>
                </div>
            </section>
        </div>
    </div>
</form>