{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

<link rel="stylesheet" href="/static/assets/css/loading_button.css">
<link rel="stylesheet" href="/static/assets/css/datatables.min.css" />


{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
 
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
            <div class="row">
              <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h2>All Beneficiaries</h2>
                            <p class="card-subtitle card-subtitle-dash">{{ registered_today }} new beneficiary
                              registrations today</p>

                              
                          </div>

                              <div class="form-group inline ">
                                <div class="search" style = "margin-top:2%;">
                                  <div class="form-group row">
                             
                                    <div class="col-lg-10">
                                      
                                  <form class="search-form flex-column search" autocomplete='off' action="#">
                                    <input type="search" class="form-control search " name="q" data-toggle="tooltip" title="Search"
                                      placeholder="Search beneficiary" title="Search here" id="search_here"
                                      >
                                    <div>
                                      <svg>
                                        <i class="bi bi-search"></i>
                                      </svg>
                                    </div>
                                  </form>
                                  </div></div>
                                </div></div>


                                
                       

                            <div style="margin-top:1%;">
                            	<a id="download-icon" type="button" class="btn btn-success btn-icon-text btn-md" data-toggle="tooltip" title="Download Records">
                                {% comment %} <i class="fa fa-circle-o-notch fa-spin px-2"></i> {% endcomment %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>
                              </a>
                                  <button class="btn btn-primary btn-md" type="button">                             
                                      <a href="{% url 'beneficiary:create' %}" class="text-white" style="text-decoration: none;" data-toggle="tooltip" title="Add Beneficiary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                          <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
                                        </svg>
                                </a>
                              </button>
                          </div>
                        </div>

                        
                        <div class="table-responsive" >
                          <form name="beneficiary_form" class="form-delete">{% csrf_token %}
                            <select class="select-style" id="beneficiary-selector" name="beneficiary-action-select" style="font-size: 14px; color: lightgrey;">
                            <option id="positive-select" value="delete selected">delete selected</option>
                            </select>
                            <button type="button" style="border-top-left-radius: 10px; background:#458FF6; border-top-right-radius: 10px; margin-top: -0.8em; padding-top: -10px; padding-bottom: 8px;" id="beneficiary-select-button" class="btn btn-primary text-white mb-0 me-0" type="submit">                             
                              Go
                            </button>

                            <div class="mt-3">       
                              <table class="table select-table" id="table_id">
                                <thead>
                                  <tr>
                                    <th>
                                      <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input selectall" aria-checked="false"><i
                                            class="input-helper"></i></label>
                                           <script>
                                            var actionButton = document.getElementById("beneficiary-select-button");
                                            var formAction = document.getElementById("form-delete");
                                            var selectText = document.getElementById("beneficiary-selector");
                                            actionButton.addEventListener("click", function(){
                                              var value = selectText.options[selectText.selectedIndex].value;
                                              var text = selectText.options[selectText.selectedIndex].text;
                                              if(text == "delete selected"){
                                                var confirmAction = confirm("Are you sure you want to delete selected beneficiaries?");
                                                if(confirmAction){
                                                  document.beneficiary_form.method = "post";
                                                  document.beneficiary_form.action = "{% url 'beneficiary:beneficiary_delete_many' %}";
                                                  actionButton.click
                                                }else{
                                                  console.log("delete action for selected beneficiaries was canceled")
                                                }
                                              }
                                            });
                                             $('.selectall').click(function() {
                                                if ($(this).is(':checked')) {
                                                    $('input:checkbox').prop('checked', true);
                                                } else {
                                                    $('input:checkbox').prop('checked', false);
                                                }
                                            });
                                           </script>
                                      </div>
                                    </th>
                                      <th>Beneficiary  ID</th>
                                      <th></th>
                                      <th>Full Name</th>
                                      <th>Gender & Sex</th>
                                      <th>Facility</th>
                                      <th>Registered Date</th>
                                      <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% if beneficiaries %}
                            {% for beneficiary in beneficiaries %}
                            <tr>
                              <td>
                                <div class="form-check form-check-flat">
                                  <label class="form-check-label">
                                    <input name="beneficiary-ids" value="{{ beneficiary.beneficiary_id }}" type="checkbox" class="form-check-input"><i
                                      class="input-helper"></i></label>
                                </div>
                              </td>
                              <td>
                                <a style="text-decoration: none;" href="{{ beneficiary.get_absolute_url }}">
                                  {{ beneficiary.beneficiary_id }}</a>
                              </td>
                              <td style="width:8%; height:8%;" >
                                {% if beneficiary.profile_photo %}
                                  <img  src="{{ beneficiary.profile_photo.url }}" >
                                  {% elif beneficiary.sex == "Male" %}
                                  <img src="/static/assets/images/faces/male.jpeg" style="width=10%;" alt="">
                                  {% elif beneficiary.sex == "Female" %}
                                  <img src="/static/assets/images/faces/female.jpeg" style="width=10%;" alt="">
                                  {%else%}
                                  <p>No image uploaded</p>
                                  {% endif %}
                                  
                              </td>
                              <td>
                                
                                  <div >
                                    <a  href="#">
                                      <h6>{{ beneficiary.first_name }} {{ beneficiary.last_name }}</h6>
                                      <p>{{beneficiary.get_age }} years old</p>
                                    </a>
                                  </div>
                              </td>
                              <td >
                                <h6>{{ beneficiary.sex }}</h6>
                                <p>{{ beneficiary.gender }}</p>
                              </td>
                              <td>
                                <h6 style="font-weight: normal;">{{ beneficiary.registered_facility }}</h6>
                              </td>
                              <td>
                                <h6 style="font-weight: normal;">{{ beneficiary.created }}</h6>
                              </td>
                              <td>
                                <div class="badge bg-success">
                                  <a href="{% url 'beneficiary:medical_record_create' beneficiary.pk %}"
                                    data-toggle="tooltip" title="Add Medical Record">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-bar-graph" viewBox="0 0 16 16">
                                      <path d="M4.5 12a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1z"/>
                                      <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                    </svg>
                                  </a>
                                </div>
                                <div class="badge bg-danger">
                                  <a href="{% url 'beneficiary:update' pk=beneficiary.id %}" data-toggle="tooltip" title="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                  </a>
                                </div>
                              
                                <div class="badge badge-opacity-danger">
                                  <a id="{{ beneficiary.id }}" data-toggle="tooltip" title="Delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                                      <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
                                      <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                                    </svg>
                                    <script>
                                      try{
                                        if("{{ beneficiary.id }}" === "{{ beneficiary.id }}"){
                                          const deleteButton = document.getElementById("{{ beneficiary.id }}");
                                          deleteButton.addEventListener("click", () => {
                                            var response;
                                            response = confirm("Are you sure you want to delete this beneficiary");
                                            if(response){
                                              const setProperty = deleteButton.href = "{% url 'beneficiary:delete' pk=beneficiary.id %}";
                                              setProperty.click()
                                            }else if(!(response)){
                                              console.log("cancelled post delete");
                                            }
                                          });
                                        }
                                      }catch(error){
                                        console.log(error)
                                      }
                                  </script>
                                  
                                </a>
                              </div>
                              </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <h3 style="margin-top: 1em;">No Beneficiaries Available</h3>
                            {% endif %}
                                </tbody>
                              </table>
                            </div>
                          </form>
                        </div>
                        <div class="m-3">

                          {% if is_paginated %}
                            {% if page_obj.has_previous %}
                              <a class="btn btn-primary btn-md text-white mb-0 me-0" href="?page=1">First</a>
                              <a class="btn btn-primary btn-md text-white mb-0 me-0"
                                href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                              {% if page_obj.number == num %}
                                <a class="btn btn-md mb-0 me-0" href="?page={{ num }}">{{ num }}</a>
                              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                                class="btn btn-primary btn-md text-white mb-0 me-0" href="?page={{ num }}">{{ num }}</a>
                              {% endif %}
                             {% endfor %}

                              {% if page_obj.has_next %}
                                <a class="btn btn-primary btn-md text-white mb-0 me-0"
                                  href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a class="btn btn-primary btn-md text-white mb-0 me-0"
                                  href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                              {% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .select-style {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-padding-end: 2px;
    -moz-padding-end: 2px;
    -webkit-padding-start: 2px;
    animation-delay: 1s;
    -moz-padding-start: 2px;
    background-color: #AAA; /* Fallback color if gradients are not supported */
    background-position: center right;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #ccc;
    width: 160px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: 12px;
    background: transparent;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
</style>
{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

<script src="/static/assets/vendors/chart.js/chart.min.js"></script>
<script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>




{% endblock js_plugins %}
aaa
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>
  <script src="/static/assets/js/chart.roundedBarCharts.js"></script>
  <script src="/static/assets/js/modal.js"></script>
  <script src="/static/assets/js/download_beneficiary_data.js"></script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock javascripts %}