{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

<link rel="stylesheet" href="/static/assets/css/loading_button.css">
<link rel="stylesheet" href="/static/assets/css/datatables.min.css" />

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
   
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div
          class="
            d-sm-flex
            align-items-center
            justify-content-between
            border-bottom
          ">
          <h2>Agents</h2>
        </div>
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">

            <div class="row">
              <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h4 class="card-title card-title-dash">All Agent Users</h4>
                          </div>

                          <div>
                            <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button">                             
                                      <a href="{% url 'beneficiary:agent_create' %}" class="text-white" style="text-decoration: none;" data-toggle="tooltip" title="Add Agent" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                                          <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                                          <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                </a>
                              </button>
                            </a>
                          </div>
                        </div>

                        <div class="table-responsive  mt-1">
                          <form name="agent_form" class="form-delete">{% csrf_token %}
                            <select class="select-style" id="agent-selector" name="agent-action-select" style="font-size: 14px; color: lightgrey;">
                              <option id="positive-select" value="delete selected">delete selected</option>
                            </select>
                            <button style="border-top-right-radius: 1em; border-top-left-radius: 1em; margin-top: -0.8em; padding-top: -10px; padding-bottom: 12px;" id="agent-select-button" class="btn btn-primary text-white mb-0 me-0" type="submit">                             
                              Go
                            </button>

                            <div class="mt-3">       
                              <table class="table select-table" id="table_id">
                                <thead>
                                  <tr>
                                    <th>
                                      <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input selectall" aria-checked="false"><i
                                            class="input-helper"></i></label>
                                          <script>
                                            var actionButton = document.getElementById("agent-select-button");
                                            var formAction = document.getElementById("form-delete");
                                            var selectText = document.getElementById("agent-selector");
                                            actionButton.addEventListener("click", function(){
                                              var value = selectText.options[selectText.selectedIndex].value;
                                              var text = selectText.options[selectText.selectedIndex].text;
                                              if(text == "delete selected"){
                                                var confirmAction = confirm("Are you sure you want to delete selected agents?");
                                                if(confirmAction){
                                                  document.agent_form.method = "post";
                                                  document.agent_form.action = "{% url 'beneficiary:agent_delete_many' %}";
                                                  actionButton.click
                                                }else{
                                                  console.log("delete action for selected agents was canceled")
                                                }
                                              }
                                            });
                                            $('.selectall').click(function() {
                                              if ($(this).is(':checked')) {
                                                  $('input:checkbox').prop('checked', true);
                                                  alert(document.getElementById("#agent-selector").innerHTML)
                                              } else {
                                                  $('input:checkbox').prop('checked', false);
                                              }
                                          });
                                          </script>
                                      </div>
                                    </th>
                                    <th></th>
                                    <th>Agent ID</th>
                                    <th>Full Name</th>
                                    <th>Related User</th>
                                    <th>Date of Birth</th>
                                    <th>Gender</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% if agents %}
                                  {% for agent in agents %}
                                  <tr>
                                    <td>
                                      <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                          <input name="agent-ids" value="{{ agent.agent_id }}" type="checkbox" class="form-check-input" aria-checked="false"><i
                                            class="input-helper"></i></label>
                                      </div>
                                    </td>
                                    <td style="width:8%; height:8%;">
                                      {% if agent.user.profile.profile_photo %}
                                      <img src="{{ agent.user.profile.profile_photo.url }}">
                                      {% elif not agent.user.profile.profile_photo and agent.gender == "Male" %}
                                      <img src="/static/assets/images/faces/male.jpeg" alt="">
                                      {% else %}
                                      <img src="/static/assets/images/faces/female.jpeg"alt="">
                                      {% endif %}
                                      
                                    </td>
                                    <td><a style="text-decoration: none; font-weight: normal;" href="{{ agent.get_absolute_url }}">
                                      {{ agent.agent_id }}</a></td>
                                    <td>
                                      <h6 style="font-weight: normal;">{{ agent.first_name|title }} {{ agent.last_name|title }}</h6>
                                    </td>
                                    <td>
                                      {% if agent.user.first_name and agent.user.last_name %}
                                      <h6 style="font-weight: normal;">{{ agent.user.first_name }} {{ agent.user.last_name }}</h6>
                                      {% else %}
                                      <h6 style="font-weight: normal;">{{ agent.user.username }}</h6>
                                      {% endif%}
                                    </td>
                                    <td>
                                      <h6 style="font-weight: normal;">{{ agent.birthdate }}</h6>
                                    </td>
                                    <td>
                                      <h6 style="font-weight: normal;">{{ agent.gender }}</h6>
                                    </td>
                                    <td>
                                      <div  class="badge bg-primary">
                                        <a href="{% url 'beneficiary:agent_update' pk=agent.id %}" data-toggle="tooltip" title="Edit">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                          </svg>
                                        </a>
                                      </div>
    
                                      <div  class="badge bg-danger">
                                        <a id="{{ agent.id }}" data-toggle="tooltip" title="Delete">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                          </svg>
                                          <script>
                                            try{
                                              if("{{ agent.id }}" === "{{ agent.id }}"){
                                                const deleteButton = document.getElementById("{{ agent.id }}");
                                                deleteButton.addEventListener("click", () => {
                                                  var response;
                                                  response = confirm("Are you sure you want to delete this agent");
                                                  if(response){
                                                    const setProperty = deleteButton.href = "{% url 'beneficiary:agent_delete' pk=agent.id %}";
                                                    setProperty.click()
                                                  }else if(!(response)){
                                                    console.log("cancelled post delete");
                                                  }
                                                });
                                              }
                                            }catch(error){
                                              console.log(error)
                                            }
                                        </script>
                                      </a>
                                      </div>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                  {% else %}
                                    <h3 style="margin-top: 1em;">No Agent Users Available</h3>
                                  {% endif %}
                                </tbody>
                              </table>
                            </div>
                          </form>
                        </div><table class="table select-table" id="table_id">
                          <thead>
                            <tr>
                              <th>
                                <div class="form-check form-check-flat mt-0">
                                  <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input selectall" aria-checked="false"><i
                                      class="input-helper"></i></label>
                                    <script>
                                      var actionButton = document.getElementById("agent-select-button");
                                      var formAction = document.getElementById("form-delete");
                                      var selectText = document.getElementById("agent-selector");
                                      actionButton.addEventListener("click", function(){
                                        var value = selectText.options[selectText.selectedIndex].value;
                                        var text = selectText.options[selectText.selectedIndex].text;
                                        if(text == "delete selected"){
                                          var confirmAction = confirm("Are you sure you want to delete selected agents?");
                                          if(confirmAction){
                                            document.agent_form.method = "post";
                                            document.agent_form.action = "{% url 'beneficiary:agent_delete_many' %}";
                                            actionButton.click
                                          }else{
                                            console.log("delete action for selected agents was canceled")
                                          }
                                        }
                                      });
                                      $('.selectall').click(function() {
                                        if ($(this).is(':checked')) {
                                            $('input:checkbox').prop('checked', true);
                                            alert(document.getElementById("#agent-selector").innerHTML)
                                        } else {
                                            $('input:checkbox').prop('checked', false);
                                        }
                                    });
                                    </script>
                                </div>
                              </th>
                              <th>Agent ID</th>
                              <th>Full Name</th>
                              <th>Related User</th>
                              <th>Date of Birth</th>
                              <th>Gender</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if agents %}
                            {% for agent in agents %}
                            <tr>
                              <td>
                                <div class="form-check form-check-flat mt-0">
                                  <label class="form-check-label">
                                    <input name="agent-ids" value="{{ agent.agent_id }}" type="checkbox" class="form-check-input" aria-checked="false"><i
                                      class="input-helper"></i></label>
                                </div>
                              </td>
                              <td>
                                {% if agent.user.profile.profile_photo %}
                                <img src="{{ agent.user.profile.profile_photo.url }}">
                                {% elif not agent.user.profile.profile_photo and agent.gender == "Male" %}
                                <img src="/static/assets/images/faces/male.jpeg"style="width: 10%; height:10%;" alt="">
                                {% else %}
                                <img src="/static/assets/images/faces/female.jpeg" style="width: 10%; height:10%;"alt="">
                                {% endif %}
                                <a style="text-decoration: none; font-weight: normal;" href="{{ agent.get_absolute_url }}">
                                  {{ agent.agent_id }}</a>
                              </td>
                              <td>
                                <h6 style="font-weight: normal;">{{ agent.first_name|title }} {{ agent.last_name|title }}</h6>
                              </td>
                              <td>
                                {% if agent.user.first_name and agent.user.last_name %}
                                <h6 style="font-weight: normal;">{{ agent.user.first_name }} {{ agent.user.last_name }}</h6>
                                {% else %}
                                <h6 style="font-weight: normal;">{{ agent.user.username }}</h6>
                                {% endif%}
                              </td>
                              <td>
                                <h6 style="font-weight: normal;">{{ agent.birthdate }}</h6>
                              </td>
                              <td>
                                <h6 style="font-weight: normal;">{{ agent.gender }}</h6>
                              </td>
                              <td>
                                <div  class="badge bg-primary">
                                  <a href="{% url 'beneficiary:agent_update' pk=agent.id %}" data-toggle="tooltip" title="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                  </a>
                                </div>

                                <div  class="badge bg-danger">
                                  <a id="{{ agent.id }}" data-toggle="tooltip" title="Delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    <script>
                                      try{
                                        if("{{ agent.id }}" === "{{ agent.id }}"){
                                          const deleteButton = document.getElementById("{{ agent.id }}");
                                          deleteButton.addEventListener("click", () => {
                                            var response;
                                            response = confirm("Are you sure you want to delete this agent");
                                            if(response){
                                              const setProperty = deleteButton.href = "{% url 'beneficiary:agent_delete' pk=agent.id %}";
                                              setProperty.click()
                                            }else if(!(response)){
                                              console.log("cancelled post delete");
                                            }
                                          });
                                        }
                                      }catch(error){
                                        console.log(error)
                                      }
                                  </script>
                                </a>
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                              <h3 style="margin-top: 1em;">No Agent Users Available</h3>
                            {% endif %}
                          </tbody>
                        </table>

                        <div class="m-3">

                          {% if is_paginated %}

                          {% if page_obj.has_previous %}
                            <a class="btn btn-primary btn-lg text-white mb-0 me-0" href="?page=1">First</a>
                            <a class="btn btn-primary btn-lg text-white mb-0 me-0"
                              href="?page={{ page_obj.previous_page_number }}">Previous</a>
                          {% endif %}

                          {% for num in page_obj.paginator.page_range %}
                          {% if page_obj.number == num %}
                          <a class="btn btn-lg mb-0 me-0" href="?page={{ num }}">{{ num }}</a>
                          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                            class="btn btn-primary btn-lg text-white mb-0 me-0" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <a class="btn btn-primary btn-lg text-white mb-0 me-0"
                              href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a class="btn btn-primary btn-lg text-white mb-0 me-0"
                              href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            {% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .select-style {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-padding-end: 2px;
    -moz-padding-end: 2px;
    -webkit-padding-start: 2px;
    animation-delay: 1s;
    -moz-padding-start: 2px;
    background-color: #AAA; /* Fallback color if gradients are not supported */
    background-position: center right;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #ccc;
    width: 160px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: 12px;
    background: transparent;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
</style>
{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

<script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/dashboard.js"></script>
<script src="/static/assets/js/Chart.roundedBarCharts.js"></script>
<script src="/static/assets/js/datatables.min.js"></script>

<script>
  $(document).ready(function () {
    var table = $('#table_id').DataTable({
      "dom": '<"top"i>rt<"bottom"><"clear">'
    });
    $('#q').on('keyup', function () {
      table.search($('#q').val()).draw();
    });
  });
</script>

{% endblock javascripts %}