{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script>
      var dataurl = '{% url "my_places" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<h3>${props.name}</h3><p>${props.description}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>
  </head>
  <body>
  
    <h1>Facilities</h1>
    {%for place in places %}



    place name: {{place.name}} <br>

    description:  {{place.description}}
    
    <small>{{place.distance}}--- far from me</small> <br>

    {% leaflet_map "main" %}

    
</body>



</html>