
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

  <link rel="stylesheet" href="/static/assets/js/select.dataTables.min.css">

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            
          </div>
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 

                <div class="row flex-grow">
                    <div class="col-md-6 col-lg-8 grid-margin stretch-card">
                        <div class="card card-rounded">
                            <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="card-title card-title-dash">Update Profile</h4>
                                    </div>
                                    </div> 
                                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                          <div class="col-sm-7">
                                          <input name="filename" type="file" class="form-control">
                                        </div>
                                        <select name="sex" class="form-select mt-2 mb-2">
                                            <option selected class="text-muted" required disabled>Select Sex</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>

                                        <select name="gender" required class="form-select mt-2 mb-2" id="floatingSelect"> 
                                            <option selected class="text-muted" disabled>Select Gender</option> 
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Female">Transgender</option>
                                            <option value="Other">Other</option>
                                        </select>

                                        <div class="col-12 mt-2 mb-2">
                                            <div class="row g-3">
                                                <div class="col-sm-7">
                                                  <input name="city" type="text" class="form-control" placeholder="City" aria-label="City" value="{{user.city}}">
                                                </div>
                                                <div class="col-sm">
                                                  <input type="text" name="postal-code" class="form-control" placeholder="Postal Code" aria-label="postal-code" value="{{user.postal_code}}">
                                                </div>
                                              </div>
                                        </div>

                                        <div class="col-12 mt-2 mb-2">
                                            <div class="row g-3">
                                                <div class="col-sm-7">
                                                  <input type="Number" name="phone-no-1" class="form-control" placeholder="Phone number" aria-label="phone-no" value="{{user.phone_number}}">
                                                </div>
                                                <div class="col-sm">
                                                  <input type="Number" name="phone-no-2" class="form-control" placeholder="Other Phone Number (optional)" aria-label="phone-number" value="{{user.phone_number_2}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2 mb-2">
                                            <div class="row g-3">
                                                <div class="col-sm-7">
                                                  <input type="First Name" name="first-name" class="form-control" placeholder="First Name" value="{{user.user.first_name}}">
                                                </div>
                                                <div class="col-sm">
                                                  <input type="text" name="last-name" class="form-control" placeholder="Last Name" value="{{user.user.last_name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2 mb-2">
                                          <input name="email" type="email" class="form-control" placeholder="Email Address" value="{{user.user.email}}">
                                        </div>
                                        <div class="col-12 mt-2 mb-2">
                                            <input name="address" type="text" class="form-control" placeholder="Address" value="{{user.address}}">
                                        </div>
                                        <div class="col-12 mt-2 mb-2">
                                            <input name="birth-date" type="date" class="form-control" placeholder="Birth Date" value="{{user.birth_date}}">
                                        </div>
                                        <div class="col-12 mt-2 mb-2">
                                            <textarea name="about" class="form-control mb-2 mt-2" placeholder="About you">{{user.about_me}}</textarea>
                                        </div>
                                        <select name="education-level" class="form-select mt-2" id="floatingSelect">
                                            <option selected>None</option>
                                            <option value="basic">Basic</option>
                                            <option value="primary">Primary</option>
                                            <option value="certificate">Certificate</option>
                                            <option value="diploma">Diploma</option>
                                            <option value="degree">Degree</option>
                                            <option value="masters">Masters</option>
                                            <option value="doctrate">Doctrate</option>
                                        </select>
                                        <button type="submit" class="btn btn-secondary mt-3">Update</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>
  <script src="/static/assets/js/Chart.roundedBarCharts.js"></script>

{% endblock javascripts %}
