
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

  <link rel="stylesheet" href="/static/assets/js/select.dataTables.min.css">

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            
          </div>
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                <div class="row">
                    <div class="col-lg-12 d-flex flex-column">

                        <div class="row flex-grow">
                            <div class="col-md-6 col-lg-8 grid-margin stretch-card">
                                <div class="card card-rounded">
                                    <div class="card-body">
                                        <div class="row">
                                        <div class="col-lg-12">
                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div>
                                                <h4 class="card-title card-title-dash">User Profile Detail*</h4>
                                            </div>
                                            </div>
                                            <div class="mt-3">
                                            <div style="background: rgba(20,20,22,0.04);">
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Education Level: </small> {{user.education_level}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">First Name: </small> {{user.user.first_name}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Last Name: </small>{{user.user.last_name}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Username: </small>{{user.user.username}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Birth Date: </small> {{user.birth_date}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Postal Code: </small> {{user.postal_code}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">City: </small> {{user.city}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Address: </small> {{user.address}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Email: </small> {{user.user.email}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Sex: </small> {{user.sex}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Gender: </small> {{user.gender}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Phone Number: </small> {{user.phone_number}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Other phone number: </small> {{user.phone_number_2}}
                                                    </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Created: </small>{{user.user.date}}
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                <div>
                                                    <h4 class="card-title card-title-dash mt-3">Prescription*</h4>
                                                </div>
                                            </div>
                                            {% if request.user %}
                                                {% if prescriptions %}
                                                    {% for data in prescriptions %}
                                                        <div style="background: rgba(20,20,22,0.04);">
                                                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                                <div class="d-flex">
                                                                <div class="wrapper ms-3">
                                                                    <small class="text-muted mb-0">Title: </small> {{data.title}}
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                                <div class="d-flex">
                                                                <div class="wrapper ms-3">
                                                                    <small class="text-muted mb-0">Service Provider: </small> {{data.service_provider.first_name}} {{data.service_provider.last_name}}
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                                <div class="d-flex">
                                                                <div class="wrapper ms-3">
                                                                    <small class="text-muted mb-0">Facility: </small> {{data.facility}}
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                                <div class="d-flex">
                                                                <div class="wrapper ms-3">
                                                                    <small class="text-muted mb-0 mt-3">Date: </small> {{data.date}}
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    {% endfor %}
                                                {% else %}
                                                    <p>No Prescriptions available yet</p>
                                                {% endif %}
                                            {% else %}
                                            {% endif %}

                                            <div>
                                                <h4 class="card-title card-title-dash mt-3">Labs*</h4>
                                            </div>
                                            {% if request.user %}
                                                {% if drugs %}
                                                {% for drug in drugs %}
                                                    <div style="background: rgba(20,20,22,0.04);">
                                                        <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                            <div class="d-flex">
                                                            <div class="wrapper ms-3">
                                                                <p class="ms-1 mb-1 fw-bold"></p>
                                                                <small class="text-muted mb-0">Beneficiary: </small> {{drug.beneficiary}}
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                            <div class="d-flex">
                                                            <div class="wrapper ms-3">
                                                                <small class="text-muted mb-0">Drug Name:</small> {{drug.name}}
                                                            </div>
                                                            </div>
                                                        </div> 
                                                        <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                            <div class="d-flex">
                                                            <div class="wrapper ms-3">
                                                                <small class="text-muted mb-0">Manufacturer:</small> {{drug.manufacturer}}
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                            <div class="d-flex">
                                                            <div class="wrapper ms-3">
                                                                <small class="text-muted mb-0">Expiry Date:</small> {{drug.expiry_date}}
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                            <div class="d-flex">
                                                            <div class="wrapper ms-3">
                                                                <small class="text-muted mb-0 mt-3">Created Date: </small> {{drug.created}}
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                {% endfor %}
                                                {% else %}
                                                    <p>No Labs available yet</p>
                                                {% endif %}
                                            {% else %}
                                            {% endif %}
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 grid-margin">
                                <div class="row">
                                    <div class="card card-rounded">
                                        <div class="card-body">
                                        {% if request.user.profile.profile_photo.url %}
                                            <img width="100" height="100" style="margin-right: 1em;" class="img-md rounded-circle" src="{{request.user.profile.profile_photo.url}}" alt="Profile image">
                                        {% elif not request.user.profile_photo.url and request.user.gender == 'Male' %}
                                            <img class="img-xs rounded-circle" src="/static/assets/images/faces/male.jpeg" alt="Profile image">
                                        {% elif not request.user.profile_photo.url and request.user.gender == 'Female' %}
                                            <img class="img-xs rounded-circle" src="/static/assets/images/faces/female.jpeg" alt="Profile image">
                                        {% else %}
                                            <img class="img-xs rounded-circle" src="/static/assets/images/faces/male.jpeg" alt="Profile image">
                                        {% endif %}
                                        <style style="text/stylesheet">
                                            .noselect {
                                                -webkit-touch-callout: none;
                                                  -webkit-user-select: none;
                                                   -khtml-user-select: none;
                                                     -moz-user-select: none;
                                                      -ms-user-select: none;
                                                          user-select: none;
                                                      -webkit-tap-highlight-color: transparent;
                                              }
                                              
                                            .noselect {
                                                width: 150px;
                                                height: 50px;
                                                cursor: pointer;
                                                background: #6dd6d8;
                                                border: none;
                                                border-radius: 10px;
                                                box-shadow: 0px 4px 10px #57aba7, 0px -3px 13px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
                                                font-family: 'Damion', cursive;
                                                color: white;
                                                font-size: 20px;
                                                transition: 500ms;
                                                padding: 1em;
                                                text-decoration: none;
                                            }
                                            
                                            .noselect:hover {
                                                    border: 2px solid #6dd6d1;
                                                animation: hueRotation 2s linear infinite;
                                            }
                                            
                                            @keyframes hueRotation {
                                                to {filter: hue-rotate(360deg);}
                                            }
                                            
                                            .noselect:focus {
                                                outline: none;
                                            }
                                        </style>
                                        {% comment %} {% url 'profile_photo_update' %} {% endcomment %}
                                        <a class="noselect"href="#">update</a>
                                    </div>
                                </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="card card-rounded"  style="border-bottom-left-radius: 0em; border-bottom-right-radius: 0em;">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h4 class="card-title card-title-dash">User Profile Detail*</h4>
                                            </div>
                                            
                                            <div class="list align-items-center pt-3">
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">First Name: </small> {{user.user.first_name|title}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <p class="ms-1 mb-1 fw-bold"></p>
                                                        <small class="text-muted mb-0">Last Name: </small> {{user.user.last_name|title}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                        <div class="wrapper ms-3">
                                                            <small class="text-muted mb-0">Username: </small> {{user.user.username}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Birth Date: </small> {{user.birth_date}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">Postal Code: </small> {{user.postal_code}}
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="wrapperd-flex align-items-center justify-content-between py-2 border-bottom">
                                                    <div class="d-flex">
                                                    <div class="wrapper ms-3">
                                                        <small class="text-muted mb-0">More*</small>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} {% url 'profile_update' %} {% endcomment %}
                                    <a onMouseOver="this.style.color='lime'" onMouseOut="this.style.color='white'" href="#" class="align-self-end btn btn-lg btn-block" style="background: rgba(34,20,60,.6); color: white; width: 100% margin-top: auto;">update user</a>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>
  <script src="/static/assets/js/Chart.roundedBarCharts.js"></script>

{% endblock javascripts %}
